.footer {
    font-family: 'roboto', sans-serif;
    background-color: #944cff;
    color: black;
    text-transform: uppercase;
    font: bolder;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}