header {
    background-color: #24074e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;



    nav ul {
        display: flex;
        gap: 20px;
        list-style: none;

        li {
            font-family: Roboto;
            a {
                color: white;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    color: #9147ff;
                    transition: all 0.3s ease;
                }
                
            } 
        }
        
    }
    .active {
    font-weight: bold;
        color: #9147ff;
    }

    img {
        width: 175px;
    }

    @media (max-width: 1000px) {

        flex-direction: column;
        
        nav ul {
            flex-direction: column;
            text-align: center;
            margin-top: 15px;
            padding: 0;
    
        }
        align-items: center;
    }

}

