#main-index {
    font-family: sans-serif;
    max-width: 85vw;
    margin: auto;


    display: grid;
    grid-template-columns: 1014px 324px;
    ;
    grid-template-areas:
        ". ."
        "grande parrafo1"
        "grande parrafo1"
        ". .";
}

#main-index section {
    color: black;
    font-size: 12px;
    margin: 40px;

    .titulo {
        text-align: center;
        background-color: #944cff;
        width: 300px;
    }

    p {
        margin: 20px 0;

        .contacto {
            color: black;
            text-decoration: underline;
        }
    }

    .grande {
        grid-area: grande;
        width: 400px;
        border: 1px solid black;
        margin-left: 500px;
    }

    .hola {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 150px;
        background-color: #944cff;
        height: 80px;
        font-size: 30px;
    }
}




li {
    background-color: none;
    display: inline-block;

    a {
        background-color: #944cff;
        display: inline-block;
        height: 20px;
        width: 350px;
        text-align: center;
        padding: 10px;

    }
}

